[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
twilio = "*"
flask-dance = {extras = ["sqla"], version = "*"}
swagger-ui-bundle = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
python-dotenv = "*"
event-notifier = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
apscheduler = "*"
pika = "*"
flask-rabmq = "*"
 
[dev-packages]

[requires]
python_version = "3.8"
