[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
twilio = "*"
flask-dance = {extras = ["sqla"], version = "*"}
swagger-ui-bundle = "*"
connexion = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
